@{
    Layout = "~/views/shared/_layout.cshtml";
}

<div class="row">
    <div class="span8 offset2">
        <p>
             Sorry, an error occurred while processing your request.
        </p>
    </div>
</div>